body {
	color: #333;
	margin: 0;
	padding: 5px;
	font: normal 87.5%/1.4 Arial, sans-serif;
}

input {
	width: 100px;
}

a {
	color: rgb(0, 136, 0);
	text-decoration: none;
	background-color: inherit;
}

a:link:hover {
	text-decoration: underline;
}

#flex-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    margin-top: 40px;
    flex-flow: wrap;
}

#flex-container>div {
    margin: 10px;
    padding: 20px;
}

#inputdata {
	width: 200px;
}

#signature {
	font-size: 9px;
	color: #C69;
	font-weight: bold
}

#tutor {
	font-size: 9px;
	color: #666;
	font-weight: bold
}

#curves {
	width: 300px;
}

.results {
	background-color: #B7E2F2;
	border: 2px dashed #309;
	font-weight: bold;
	color: #306;
	height: fit-content;
}

#warning {
	background-color: yellow;
}


